selection-mark[data-selection-mark]{
    background-color: yellow;
    &::before {
        content: '<<';
        background-color: rgb(34, 16, 225);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    &::after {
        content: '>>';
        color: #fff;
        background-color: rgb(34, 16, 225);
        font-weight: bold;
        cursor: pointer;
    }
}
