/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .subtitle{
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
 }

.heroBanner {
  font-family: monospace;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(160deg, rgb(239, 159, 172) 30%, rgb(210, 238, 120) 50%, #e227e9 100%);
}
.linkAIButton{
  border: none;
  background-color: #fff;
  &:hover {
    background: rgb(96, 96, 224);
    color: white;
  }
}
.linkButton {
  border: none;
  background-color: #fff;
  &:hover {
    background: rgb(96, 96, 224);
    color: white;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: 996px) {
    flex-direction: column;
    
  }
}
